@import 'kotilogi-app/scss/Config';
$navbar-color: rgb(42, 42, 42);

@mixin Container{
    display: flex;
    flex-flow: column;
    flex: 1;
    color: white;
}

@mixin Header{

    h1{
        color: $primary-color;
    }
}