#mainNavSelector{
    display: none;
}

#mainNavBar{
    display:block;
}

@media screen and (max-width: 1000px){
    #mainNavSelector{
        display: block;
    }
    
    #mainNavBar{
        display:none;
    }
}