@keyframes SlideUp{
    0%{
        transform: translateY(12px);
        opacity: 0;
    };

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes SlideDown{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    };

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes SlideRight{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    };

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes RingAnimation{
    0% {transform: rotate(0deg) };
    50% {transform: rotate(180deg)};
    100% {transform: rotate(365deg)};
}

@mixin SlideUpAnimation{
    animation-name: SlideUp;
    animation-duration: 0.125s;
    animation-timing-function: ease-out;
}

@mixin SlideRightAnimation{
    animation-name: SlideRight;
    animation-duration: 0.125s;
    animation-timing-function: ease-out;
}

@mixin SlideDownAnimation{
    animation-name: SlideDown;
    animation-duration: 0.125s;
    animation-timing-function: ease-out;
}