@import './Config';

.app{
    display: flex;
    flex-flow: column;
    background: white;
    margin: 0 $global-padding 0 $global-padding;
    min-height: 100vh;
}

.app .body{
    display: flex;
    width: 100%;
    flex: 1;
}


@media screen and (max-width: 1000px){
    .app{
        margin: 0 !important;
    }
}
