@import './Config';

.card{
    background: rgba(white, 0.3);

    display: flex;
    flex-flow: column;
    width: 15rem; /*Galleries contain four cards on each row*/
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 0.25rem;
    height: 100%;
    transition: border-width 0.2s ease-in-out;
    position: relative;

    transition: border-color 0.25s ease-out, box-shadow 0.25s ease-out, transform 0.25s ease-out;

    &:hover, &.selected{
        border-color: $primary-color;
        box-shadow: 2px 2px 2px 2px rgba(black, 0.25);
    }

    &.selected{
        background: rgba($primary-color, 0.5) !important;
    }

    .control-link{
        font-weight: bold;
        cursor: pointer;
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        height: auto !important;
        width: auto !important;

        &:active, &:disabled{
            background: none;
        }

        &:disabled{
            color: $secondary-color !important;
        }

        &.primary{
            color: $primary-color;
        }

        &.danger{
            color: $danger-color;
        }

        &:hover{
            text-decoration: underline;
        }
    }

    .card-image-container{
        display: flex;
        justify-content: center;
        max-width: inherit;
        margin-bottom: 1rem;
        flex: 1;
    }

    .card-image{
        display: inherit;
        height: 18rem;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        color: white;
    }

    .error-image{
        $size: 60px;

        width: $size;
        height: $size;
        border-bottom: 1px solid $border-color;
    }

    .card-title{
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .card-text, .card-body{
        flex: 1;
        max-height: 250px;
    }

    .card-text{
        overflow: hidden;
        max-height: auto;
        line-clamp: 4;
        text-overflow: ellipsis;
        text-align: center;
        color: white;
    }

    .event-card-text{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
        #date{
            margin-top: 1rem;
            font-weight: bold;
        }
    }

    .card-body{
        display: inherit;
        flex-flow: column;
        width: 100%;
    }

    a{
        display: flex;
        flex-flow: column;
        flex: 1;
        color: $secondary-color;
        
        &:hover{
            text-decoration: none;
            color: none;
        }
    }

    .card-menu{
        position: absolute;
        min-height: 50px;
        bottom: -65px;
        width: 50%;
        left: 50%;

        border-radius: 5px;
        border: 2px solid black;

        padding: 5px;
        background: white;

        visibility: hidden;
        z-index: 7;
        
        transform: translateY(25px);
        transition: transform 0.1s ease;

        &.open{
            display: flex;
            flex-flow: column;
            padding: 1rem;
            justify-content: center;
            transform: translateY(0);
            visibility: visible;
        }   

    }

    .card-footer{
        display: inherit;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        background: none;
        gap: 0.5rem;
        border-top: 1px solid $border-color;

        button{
            font-size: 0.9rem;
        }

        .cog-img{
            width: 25px;
            transition: transform 0.2s ease-out;
            transition-delay: 0.1s;
            filter: invert(1);
            opacity: 0.9;
            &:hover{
                transform: rotate(45deg);
            }
        }

        input[type=checkbox]{
            width: 50px;
        }
    }

    .card-button-group{
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }

    @media screen and (max-width: 1000px){
        width: 100% !important;
    }
}

.card-button-group button{
    flex: 1;
}

