@import './Config';

.card{
    background: rgba(white, 0.3);

    display: flex;
    flex-flow: column;
    width: 15rem; /*Galleries contain four cards on each row*/
    border-radius: $border-radius;
    border: 1px solid $border-color;
    height: 100%;
    transition: border-width 0.2s ease-in-out;
    position: relative;

    transition: border-color 0.25s ease-out, box-shadow 0.25s ease-out, transform 0.25s ease-out;

    &:hover, &.selected{
        border-color: $primary-color;
        box-shadow: 2px 2px 2px 2px rgba(black, 0.25);
    }

    &.selected{
        background: rgba($primary-color, 0.5) !important;
    }

    .control-link{
        font-weight: bold;
        cursor: pointer;
        background: none !important;
        margin: 0 !important;
        padding: 0 !important;
        min-width: auto !important;
        min-height: auto !important;
        height: auto !important;
        width: auto !important;

        &:active, &:disabled{
            background: none;
        }

        &:disabled{
            color: $secondary-color !important;
        }

        &.primary{
            color: $primary-color;
        }

        &.danger{
            color: $danger-color;
        }

        &:hover{
            text-decoration: underline;
        }
    }

    .card-image-container{
        display: flex;
        justify-content: center;
        max-width: inherit;
        margin-bottom: 1rem;
        flex: 1;
    }

    .card-image{
        display: inherit;
        height: 18rem;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        color: white;
        object-fit:cover;
        object-position: 50%;
    }

    .error-image{
        $size: 60px;

        width: $size;
        height: $size;
        border-bottom: 1px solid $border-color;
    }

    .card-title{
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        white-space: nowrap;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .card-text, .card-body{
        flex: 1;
        max-height: 250px;
    }

    .card-text{
        overflow: hidden;
        max-height: auto;
        line-clamp: 4;
        text-overflow: ellipsis;
        text-align: center;
        color: white;
    }

    .event-card-text{
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        
        #date{
            margin-top: 1rem;
            font-weight: bold;
        }
    }

    .card-body, .card-footer{
        padding: 0.25rem;
    }

    .card-body{
        display: inherit;
        flex-flow: column;
        width: 100%;
    }

    a{
        display: flex;
        flex-flow: column;
        flex: 1;
        color: $secondary-color;
        
        &:hover{
            text-decoration: none;
            color: none;
        }
    }

   

    .card-footer{
        display: inherit;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
        gap: 0.5rem;
        border-top: 1px solid $border-color;

        button{
            font-size: 0.9rem;
        }

        input[type=checkbox]{
            width: 50px;
        }

        .card-menu-btn{
            .cog-img{
                width: 25px;
                transition: transform 0.2s ease-out;
                filter: invert(1);
                opacity: 0.9;
            }

            .card-menu{
                position: absolute;
                display: none;
                flex-flow: column;
                justify-content: center;

                min-height: 50px;
                bottom: -65px;
                width: 50%;
                left: 50%;
        
                border-radius: 5px;
                border: 2px solid black;
        
                padding: 1rem;
                background: white;
        
                z-index: 7;
                transform: translateY(25px);
                transition: transform 0.1s ease;
            }

            &.open .card-menu{
                display: flex;
                flex-flow: column;
                transform: translateY(0);
            } 

            &.open .cog-img{
                transform: rotate(90deg);
            }
        }
    }

    .card-button-group{
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }

    @media screen and (max-width: 1000px){
        width: 100% !important;
    }
}

.card-button-group button{
    flex: 1;
}

