$text-color: black;
$page-element-color: green;
$event-header-color: rgb(34, 34, 34);
$bg-color: white;
$border-color: rgb(225, 225, 225);
$sidebar-color: rgb(38, 38, 38);
$form-color: #fffaf0;

$global-padding: 7vw;
$border-radius: 5px;
$button-hover-lighten-amount: 10;

$font-family: 'Montserrat', sans-serif;

$primary-color: #eab877;
$secondary-color: #4b4b4b;
$body-color: #272727;
$text-color: whitesmoke;
$header-color: #000000;

$danger-color: rgb(200, 36, 36);
$success-color: rgb(0, 177, 0);
$disabled-color: gray;
$input-editing-color: rgb(255, 255, 202);

$mobile-width: 1000px;



