$text-color: black;
$page-element-color: green;
$event-header-color: rgb(34, 34, 34);
$bg-color: white;
$border-color: rgb(225, 225, 225);
$sidebar-color: rgb(38, 38, 38);
$form-color: #fffaf0;


$global-padding: 7vw;
$border-radius: 5px;
$button-hover-lighten-amount: 10;

$primary-color: #D69F58;
$secondary-color: #272727;
$body-color: #1c1c24;
$text-color: #595358;
$header-color: #1f1f1f;

$danger-color: rgb(200, 36, 36);
$success-color: rgb(0, 177, 0);
$disabled-color: gray;
$input-editing-color: rgb(255, 255, 202);

$mobile-width: 1000px;



