@import './Config';

fieldset{

    legend{
        font-size: 2rem;
        color: $primary-color;
    }

    border-bottom: 1px solid $border-color;
    padding-bottom: 2rem;

    .form-group{
        flex-flow: row !important;
        justify-content: space-between !important;

        .form-label{
            text-align: left;
        }

        input, select, output{
            text-align: right;
        }

        .form-label, input, select{
            width: 50%;
        }
    }

    /*Remove spinners and select arrows when the fieldset is disabled*/
    &:disabled{
        input, select{
            padding: 0;
            border: none;
        }

        select{
            appearance: none;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

        select::-ms-expand {
            display: none;
        }
    }
}