@import './Animations';
@import './Config';

form{
    display: flex;
    flex-flow: column;
    min-width: 30rem;
    gap: 1rem;
    z-index: 1;
    padding: 1rem;
    border-radius: 10px;

    label{
        color: white !important;
    }

    fieldset{
        display: inherit;
        flex-flow: column;
        gap: 1.5rem;
    }

    .form-title{
        font-size: 3rem;
        color: $primary-color;
        width: inherit;
        display: inherit;
        justify-content: center;
    }

    .form-links{
        display: inherit;
        flex-flow: row;
        justify-content: center;
    }

    .form-error, .form-success{
        display: inherit;
        justify-content: center;
        color: $danger-color;

        @include SlideUpAnimation;
    }

    .form-success{
        color: $success-color !important;
    }

    .form-spinner{
        display: flex;
        justify-content: center;
    }

    .horizontal-groups{
        .form-group{
            flex-flow: row !important;
            gap: 1rem !important;
        }
    }
    
}

form.animated{
    @include SlideUpAnimation;
}

form .form-button-group{
    display: flex;
    flex-flow: row;
    gap: 1rem;

    button{
        flex: 1;
    }
}

.form-group{
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.25rem;

    &.error{
        label{
            color: $danger-color;
        }

        input, select, textarea{
            border-color: $danger-color;
        }
    }

    label{
        color: $secondary-color;
        font-size: 1rem;
    }

    .sub-label{
        color: white;
        font-size: 0.75rem;
    }

    input, select, textarea{
        border-radius: 5px;
        border: 1px solid $border-color;
        font-size: 1.25rem;

        &.error{
            border-color: $danger-color;
        }
    }

    textarea{
        color: gray;
    }
}

.form-checkbox-group{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;

    input[type=checkbox]{
        width: 2rem;
    }
}
