@import './Groups';

#home-page{
    overflow-x: hidden;
}



@media screen and (max-width: 1000px){
    #home-page{

        #welcome-text-box{
            flex-flow: column-reverse;
            align-items: center;
            padding: 0 0 2rem 0;

            h2{
                text-align: center !important;
            }
            
            #welcome-text{
                display: flex;
                flex-flow: column;
                align-items: center;
                
                #home-page-intro-text{
                    font-size: 2.5rem;
                    font-family: 'Script MT Bold';
                }
        
                #create-acc-link{
                    margin-top: 3rem;
                    font-size: 1rem;
                }
            }
            img{
                width: calc(100vw - 5px);
                border-radius: 0 !important;
            }

        }

        #news-content{
            display: flex;
            flex-flow: column;
            font-size: 1.25rem !important;

            .news-box{
                display: flex !important;
                flex-flow: column !important;
                
            }

            #news-box-profile-text-section{
                padding-top: 2rem !important;
                padding-bottom: 2rem !important;
                p{
                    text-align: center;
                }
            }

            img{
                display: none;
            }

            h1, #story-signature{
                text-align: center;
            }
        }
    }
}