@import './Config';
@import './Card';
@import './Modal';
@import './Form';
@import './Error';
@import './Login';
@import './Signup';
@import './Loading';
@import './RegisterThankYou';
@import './TOS';
@import './Notice';
@import './Mobile';

@font-face{
    font-family: 'Montserrat';
    src: url('../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}

*{
    box-sizing: border-box;
    font-family: $font-family;
    font-weight: 400;
    color: $text-color;
}
main{
    padding: 1rem;
}

input, select, option{
    color: gray;
}

input{
    border-radius: 5px;
}

textarea{
    min-height: 100px;
    resize: none;
}

h1, h2{
   margin: 0;
}

h1{
    color: $primary-color;
}

h2, h3{
    color: $text-color;
}

a{
    font-weight: 300;

    &:hover{
        text-decoration: underline;
    }

    &:disabled{
        text-decoration:line-through;
        color: gray;
    }
}

nav{
    font-weight: bold;
    
    
}

img.inverted{
    filter: invert(1);
}

body, #root{
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    background: $secondary-color;
}

.container-link{
    color: $secondary-color;

    &:hover{
        color: $secondary-color !important;
    }
}

.bg-filler{
    position: absolute;
    top: 0;
    opacity: 0.5;
    width: 100vw;
    height: 500px;
    z-index: -1;
}

.bg-blur{
    position: absolute;
    top: 0;
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    z-index: 0;
}

.px-10{
    padding: 0 10vw 0 10vw;
}

.page{
    flex: 1;

    display:flex;
    flex-flow: column;
    padding: 1rem 0 0 0;

    overflow-y: scroll;

    .page-element{
        display: flex;
        padding: 0 10vw 0 10vw;
    }
    
    h1{
        color: $primary-color;
    }

    h2, h3{
        color: $secondary-color;
    }
}

.hover-effect{
    transition: 
            background-color 0.2s ease-out, 
            backdrop-filter 0.2s ease-out, 
            box-shadow 0.2s ease-out, 
            transform 0.25s ease-out;

    &:hover{
        background: rgba(lighten($primary-color, 20), 0.2) !important;
        box-shadow: 2px 2px 2px 2px rgba(black, 0.2);
        backdrop-filter: blur(10px);
    }
}

.page-title{

    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    align-items: center;
    img{
        width: 3rem;
        height: 3rem;
    }
}

a{
    text-decoration: none; 
}

.button-link{
    display: flex;
    flex-flow: row;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 10px;
    color: $secondary-color;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }

    &:hover{
        background: lighten($primary-color, 10);

        span{
            color: white;
        }

        img{
            filter: invert(1);
        }
    }
}

/*stretch to the length of parent container*/
.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.align-text-right{
    text-align: right;
}

.scroll-y{
    overflow-y: scroll;
}

.hover-primary-light{
    transition: background-color 0.2s ease-out;

    &:hover{
        background: lighten($primary-color, 10);
    }
}

.border-right{
    border-right: 1px solid lightgray;
}

.border-bottom{
    border-right: 1px solid lightgray;
}

.glass{
    backdrop-filter: blur(10px);
}

/*Stretches a flex box until it fills the entirety of its flex direction on the screen*/
.fill{
    flex: 1;
}

.d-flex{
    display: flex;
}

.flex-row{
    flex-flow: row;
}

.bg-darkgray{
    background: $event-header-color;
    color: white;
}

.border{
    border: 1px solid lightgray;
}

.dashed{
    border-style: dashed !important;
}

.border-dashed{
    border: 2px dashed black;
}

.flex-column{
    flex-flow: column;
}

.center-all{
    align-items: center;
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-right{
    align-items: right;
}

/*Push all elements inside the container as far away from eachother as possible*/
.justify-content-between{
    justify-content: space-between;
}

.justify-content-right{
    justify-content: right;
}

.text-ellipsis{
    max-width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Round the corners of the element*/
.rounded{
    border-radius: 10px;
}

.gap-sm{
    gap: 0.25rem;
}

.gap-m{
    gap: 0.5rem;
}

.gap-l{
    gap: 1rem;
}

.padding-sm{
    padding: 0.25rem;
}

.padding-m{
    padding: 0.5rem;
}

.padding-l{
    padding: 1rem;
}

.in-foreground{
    z-index: 1;
}

.in-background{
    z-index: -1;
}

.font-sze-sm{
    font-size: 1rem;
}

.font-sze-m{
    font-size: 1.5rem;
}

.font-size-lg{
    font-size: 2rem;
}

.bg-primary{
    background: lighten($primary-color, 30);
}

.cursor-pointer{
    cursor: pointer;
}

.feedback-message{
    animation-name: ErrorAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

    &.error{
       color: red;
    }
}

#user-page{
    margin-left: auto;
    margin-right: auto;
    
    #welcome-text{
        display: flex;
        flex-flow: column;
        align-items: center;
        margin-top: 2rem;
    }

    #property-grid{

        &.as-grid{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.as-flexbox{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
        
        gap: 1rem;
    }

    .property-grid-item{
        :root{
            --bg-color: $primary-color;
        }

        background: rgba($primary-color, 0.2);
        border: 1px solid $secondary-color;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        
        cursor: pointer;
        

        height: 300px;
        width: 250px;
        
        img{
            width: 70px;
            height: 70px;
        }

        &.add{
            border-style: dashed !important;
            border-width: 3px !important;
            background: none;
        }
    }
}

@media screen and (max-width: 1000px){

    #user-page{
        margin-left: 5px;
        margin-right: 5px;

        #property-grid{
            display: flex !important;
            flex-flow: column !important;
    
            .property-grid-item{
                width: 100% !important;
            }
          
        }
    }

}

@include MediaSM;

@media screen and (max-width: 1000px){
    .page{
        padding: 0 !important;
        
        .page-element{
            padding: 5px !important;
        }
    }

    .button-link{
        visibility: hidden;
    }
}