#event-page{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding: 0 10vw 0 10vw;

    #back-link-container{
        width: 100%;

        a{
            font-size: 1.5rem;
        }
    }

    #event-page-header{
        display: flex;
        flex-flow: row;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;

        h1{
            margin-bottom: 1rem;
        }

        #event-main-image{
            width: 300px;
        }

        #event-page-header-body{
            display: flex;
            flex-flow: column;
            height: 100%;
        }
    }

    #event-page-sections-container{
        width: 100%;
    }
}

.big-image{
    width: 500px;
}