@import 'kotilogi-app/scss/Config';

.selectorWindowContainer{
    position: absolute;
    top: 33px;
    left: 0;
    padding: 0.5rem;
    border-radius: 5px;
    gap: 1rem;
    min-width: 200px;
    display: flex;
    flex-flow: column;
    background: whitesmoke;
    z-index: 5;

    a{
        color: gray !important;
        font-weight: bold;
        &:hover{
            background: $primary-color !important;
        }
    }
}