.container {
  transition: transform 0.1s ease-in-out;
  transform: translateY(-100%);
  z-index: 20;
}

.container.open {
  transform: translateY(0px);
}

.body {
  position: absolute;
  background: white;

  top: 4.5rem;
  right: 0.5rem;

  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  transform: translateY(10px);

  gap: 1rem;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 0;
  visibility: hidden;
}

.body.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.button {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 2rem;
  cursor: pointer;
  z-index: 70;
}

.line {
  background: white;
  width: 100%;
  height: 5px;
  transition: transform 0.2s ease-out, background-color 0.2s ease-out, opacity 0.2s ease-out;
}

.button.open .line {
  background: orange;
}

.button.open .line:nth-child(1) {
  transform: translateY(13px) rotate(calc(45deg * 5));
}

.button.open .line:nth-child(2) {
  opacity: 0;
}

.button.open .line:nth-child(3) {
  transform: translateY(-13px) rotate(calc(-45deg * 5));
}
