@import 'kotilogi-app/scss/Config';

.container{
    display: flex;
    flex-flow: row;
    
    width: 100%;
    gap: 0.5rem;
    border-top: 1px solid $border-color;
    padding: 0.5rem;
    justify-content: space-between;

    input[type=checkbox]{
        width: 25px;
        height: 25px;
        &:checked{
            background-color: $primary-color;
        }
    }

    .cogImg{
        width: 25px;
        height: auto;
        transition: transform 0.2s ease;
        filter: invert(1);
        opacity: 0.9;

        &.open{
            transform: rotate(90deg);
        }
    }
}