@import 'kotilogi-app/scss/Config';

.galleryContainer{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    color: white;
    z-index: 2;
    width: 100%;
}

@media screen and (max-width: $mobile-width){
    .galleryContainer .galleryBody{
        display: flex !important;
        flex-flow: column;
        align-items: center;
    }
}