@import 'kotilogi-app/scss/Config';

.container{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    z-index: 0;
    color: white;

    .galleryHeader{
        display: flex;
        flex-flow: row;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

        padding: 1rem;
        z-index: 1;
        backdrop-filter: blur(20px);

        margin-bottom: 2rem;

        .titleContainer{
            h1{
                color: $primary-color;
            }

            small{
                color: whitesmoke;
            }
        }

        .buttonsContainer{
            display: flex;
            flex-flow: row;
            gap: 0.5rem;
        }
    }

    .galleryBody{
        display: grid;
        grid-template-columns: auto auto auto auto;

        gap: 1rem;
        justify-content: center;
        
        &.empty{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .container .galleryBody{
        display: flex !important;
        flex-flow: column;
        align-items: center;
    }
}