@import 'kotilogi-app/scss/Config';

.galleryContainer{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    color: white;
    z-index: 2;
    width: 100%;
}

.galleryHeader{
    display: flex;
    flex-flow: row;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #DDD;
    padding-left: $medium-gap;
    margin-bottom: 2rem;
    padding-bottom: 1rem;

    .titleContainer{
        display: inherit;
        gap: $medium-gap;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        
        h1{
            color: $primary-color;
        }

        small{
            color: whitesmoke;
        }
    }

    .buttonsContainer{
        display: flex;
        flex-flow: row;
        gap: 0.25rem;
    }
}

.galleryBodyGrid, .galleryBodyList{
    padding-left: $medium-gap;
    padding-bottom: $medium-gap;
    flex: 1;
}

.galleryBodyGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    max-height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.galleryBodyList{
    display: flex;
    flex-flow: column;
    gap: $small-gap;
    max-height: 100%;
    overflow-y: scroll;
    overflow: hidden;
    
    @for $child from 0 to 10{
        &:nth-child(#{$child}){
            animation-delay: $child * 0.1s;
        }
    }
}

.loadingBody{
    flex: 1;
}