.input{
    border: 1px solid #DDD;
    background: white;
}

.input:user-invalid{
    background: rgba(red, 0.1);
}

.input:user-valid{
    background: rgba(lime, 0.1);
}

.input:disabled{
    background-color: #DDD;
}

.required{
    color: #b27070;
    font-size: 0.9rem;
}

.controls{
    display: flex;
    
    width: 100%;
    justify-content: flex-end;
}