.input{
    border: 1px solid #DDD;
    background: white;
    width: 100%;
}

.input:disabled{
    background-color: #EEE;
}

.required{
    color: #b27070;
    font-size: 0.9rem;
}

.controls{
    display: flex;
    
    width: 100%;
    justify-content: flex-end;
}

textarea.input{
    padding: 0.5rem;
}