@import 'kotilogi-app/scss/Config';
@import 'kotilogi-app/scss/Animations';

$text-color: $body-text-color;

.container {
  display: flex;
  flex-flow: column;
  flex: 1;

  .addButton {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed $border-color;
    border-radius: $border-radius;
    padding: 1rem;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background: $border-color;
      border-color: black;
    }

    .button-title {
      font-size: 1rem;
    }
  }

  .item {
    min-height: calc(18rem * 1.5);
    width: 18rem;

    .gallery-image {
      clip-path: inset(0, 0, 0, 0);

      img {
        object-fit: scale-down;
      }
    }
  }

  .header {
    display: flex;
    flex-flow: row;
    text-align: left;
    justify-content: space-between;
    position: sticky;
    top: 57px;

    padding: 1rem;
    z-index: 6;
    background: rgba(white, 0.9);
    backdrop-filter: saturate(200%) blur(20px);

    small {
      font-weight: bold;
      color: $body-text-color;
      margin-left: 0.25rem;
      font-size: 1.25rem;
    }

    .header-item {
      display: flex;
      flex-flow: row;
      gap: 0.5rem;

      small {
        font-weight: bold;
      }

      &.baseline {
        align-items: baseline;
      }

      input[type='checkbox'] {
        width: 25px;
      }
    }

    .add-btn {
      .group-row {
        justify-content: center;
      }
    }

    .group-row {
      max-height: 50px;
    }

    margin-bottom: 2rem;
    border-bottom: 1px dashed $border-color;
  }

  .body {
    display: grid;
    grid-template-columns: auto auto auto auto;

    gap: 1rem;
    justify-content: center;

    &.empty {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
  }
}

.errorContainer {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: $body-text-color;

  .errorTitle {
    color: $body-text-color;
  }

  .errorImage {
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
    opacity: 0.6;
  }

  .errorMessage {
    color: $text-color;
    text-align: center;
  }

  @include SlideUpAnimation;
}

@media screen and (max-width: $mobile-width) {
  .container .body {
    display: flex !important;
    flex-flow: column;
    align-items: center;
  }
}
