@import 'kotilogi-app/scss/Config';

.container{
    background: #0008;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
    align-items: center;
    border-radius: 5px;
    
    &:hover{
        background: $primary-color;

        span{
            color: black;
        }

        .value{
            transform: translateX(-10px);
        }
    }

    a{
        color: $primary-color;
    }

    .label{
        font-size: 1rem;
        color: white;
    }
    
    .value{
        font-size: 1rem; 
        color: $primary-color;
        transition: transform 0.2s ease;
        font-weight: bold;
    }
}




