.form{
    background: none !important;
    box-shadow: none !important;
    border-radius: 10px;

    label{
        color : white;
    } 

    .submitButton{
        background: rgb(85, 252, 255);
        color: black;
        &:hover{
            background: rgb(200, 251, 255);
        }
    }

    .formSuccess{
        color: white !important;
    };
}