@import '../Config';

header{

    padding: 1rem;
    border-bottom: 1px solid $secondary-color;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    #header-title-area{
        padding: 0;
        margin: 0;
        
        h1{
            margin: inherit;
            color: $primary-color;

            transition: transform 0.3s ease-out;
            transition-delay: 0.1s;
        }
    
        h2{
            margin:inherit;
            color: $secondary-color;

            transition: transform 0.3s ease-out;
            transition-delay: 0.2s;
        }

        &:hover{
            

            h1, h2{
                transform: translateX(10px);
            }
        }
    }

    #header-links-area{
        display: flex;
        flex-flow: row;
        gap: 1rem;

        a{
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            
            font-size: 1.5rem;
            color: $primary-color;
            background: $primary-color;
            padding: 1rem;
            border-radius: 10px;
            color: white;

            &:hover{
                background: lighten($primary-color, 10);
            }
        }

        

        
    }

    a{
        text-decoration: none;
        
    }
}
