@import '../../Config';

#pricing-page{
    
    #tier-list{
        display: flex;
        flex-flow: row;
        gap: 1rem;
        align-items: baseline;
        justify-content: center;

        @keyframes CardAnimation{
            0%{
                transform: translateY(100px);
                opacity: 0;
            }

            100%{
                transform: translateY(0);
                opacity: 1;
            }
        }

        .card{

            animation-name: CardAnimation;
            animation-duration: 0.5s;
            animation-timing-function: ease-out;
            animation-iteration-count: 1;

            width: 300px;
            min-height: 500px;

            .card-header, .card-body{
                padding: 1rem;
            }

            .card-header{
                border-bottom: 1px solid gray;
                display: flex;
                flex-flow: column;
                align-items: center;
                margin-bottom: 3rem;
                h2{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    font-size: 3rem;
                    
                }

                .big-text{
                    font-size: 4rem;
                    color: slategrey;
                }

                .small-text{
                    font-size: 1rem;
                    color: slategray;
                }
            }

         
            .card-body{
                display: flex;
                flex-flow: column;
                align-items: center;
                text-align: center;
                font-size: 1.25rem;
            }

            &#free-tier{
                background: rgba(green, 0.2);
            }

            border: 1px solid $secondary-color;
            border-radius: 10px;
        }
    }
}