.content-container {
  max-width: 100%;
}

.content-container h2 {
  display: flex;
  flex-flow: column;
  font-size: 1.2rem;
  font-weight: 600;
  opacity: 1;
  color: white;
  width: 100%;
  text-wrap: wrap;
}

.content-container p {
  opacity: 0.75;
  color: white;
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-wrap: wrap;
}

.img {
  width: 100%;
  aspect-ratio: auto;
  border-radius: 1rem;
  object-fit: contain;
}
