@import 'kotilogi-app/scss/Config';

.body{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    top: 0;
}

.button{
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 20px;
}

.button .line{
    background: gray;
}

@media screen and (min-width: $mobile-width){
    .button{
        display: none !important;
    }
}