@import '../../Config';

$bg-image: url('../../img/bg-green.jpg');

.app{
    display: flex;
    flex-flow: column;
    width: 100vw;

}

.bg-filler{
    background: url('../../img/bg-fade.png');
    background-size: cover;
}