@import '../../Config';

$bg-image: url('../../img/bg-green.jpg');

.app{
    display: flex;
    flex-flow: column;
    width: 100vw;
    z-index: -2;
}

.bg-filler{
    background: url('../../img/bg.jpg');
    background-size: cover;
}