@import 'kotilogi-app/scss/Config';

@mixin DefaultAttributes{
    display: flex;
    gap: $medium-gap;
    z-index: 1;
}

.containerHorizontal{
    @include DefaultAttributes;

    flex-flow: row;
    width: 100%;
    
    a{
        color: $body-text-color;
        font-weight: 500;
        border-radius: 5px;

        &.activated{
            text-decoration: underline;
        }
    }
}

.containerVertical{
    @include DefaultAttributes;
    flex-flow: column;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .navBarContainer{
       display: none;
    }
}