@import 'kotilogi-app/scss/Config';

.navBarContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: $medium-gap;
    z-index: 1;
    
    a{
        color: $body-text-color;
        font-weight: 500;
        border-radius: 5px;

        &.activated{
            text-decoration: underline;
        }
    }
}

@media screen and (max-width: 1000px){
    .navBarContainer{
       display: none;
    }
}