.priceContainer{
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
    small{
        margin-bottom: 2rem;
        font-weight: bold;
    }

    h1, small{
        color: whitesmoke;
    }
}