.container{
    display: flex;
    flex-flow: column;
    border: 1px solid #DDD;
    border-radius: 10px;
    background: white;
    padding: 1rem;
}  

.container .title{
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}

.container .headerWrapper{
    border-bottom: 1px solid #DDD;
}