@import '../../Config';

header{
    padding: 1rem $global-padding 1rem $global-padding;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 1;
    
    #header-logo-area{
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 0.5rem;

        img{
            width: 70px;
            height: 70px;
        }
    }
    
    #header-title-area{
        padding: 0;
        margin: 0;
        
        h1{
            margin: inherit;
            color: $primary-color;

            transition: transform 0.3s ease-out;
            transition-delay: 0.1s;
        }
    
        h2{
            margin:inherit;
            color: $secondary-color;

            transition: transform 0.3s ease-out;
            transition-delay: 0.2s;
        }
    }

    #header-links-area{
        display: flex;
        flex-flow: row;
        gap: 0.5rem;
        align-items: center;
        
    }

    

    #menu{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        border-left: 2px solid gray;
        height: 100vh;
        display: flex;
        flex-flow: column;

        &.open{
            visibility: visible;
        }
    }
}
