@import 'kotilogi-app/scss/Config';

.editForm{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    background: #0006;

    .formGroup{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        &:hover{
            background: $primary-color;

            input, textarea, select, label{
                color: black;
            }

        }

        input, textarea{
            &:focus{
                outline: none;
                border-radius: 0;
                background: #0004;
            }
        }
        
        input, textarea, select{
            background: none;
            border: none;
            text-align: right;
            color: $primary-color;
        }

        input[type=number]{
            appearance: textfield;
        }

        select option{
            background: white;
        }
    }
}