@tailwind base;
@tailwind components;
@tailwind utilities;

textarea, input, select{
    border-radius: 7px;
    padding: 0.5rem;
    border-color: #DDD;
    border-width: 1px;
}

textarea{
    resize: none;
    min-height: 100px;
}

textarea:disabled, input:disabled, select:disabled{
    color: rgb(100 116 139);
}

a:hover{
    text-decoration: underline;
}

dialog::backdrop{
    backdrop-filter: blur(10px);
    z-index: 10;
}