@tailwind base;
@tailwind components;
@tailwind utilities;

textarea, input, select{
    width: 100%;
    border-radius: 7px;
    padding: 0.5rem;
}

textarea{
    resize: none;
    min-height: 100px;
}

textarea:disabled, input:disabled, select:disabled{
    color: rgb(100 116 139);
}

a:hover{
    text-decoration: underline;
}