@import 'kotilogi-app/scss/Config';
@import './_partials/gallery';

:root{
    --primary-color: #e3a149;
    --link-in-focus-color: rgb(255, 252, 232);
}

#main-header{
    transition: all 0.2s ease;
}

img{
    text-align: center;
}

main{
    flex: 1;
    margin: 0;
    padding-bottom: 1em;
}

input, textarea{
    border-radius: 5px;
}

button{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border: none;
    border-radius: $border-radius !important;
    color: white;
    cursor: pointer;

    transition: transform 0.2s ease-in-out;
    
    &:disabled{
        background: $disabled-color !important;
        color: lighten($disabled-color, 15);
    }

    &.add{
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 0.5rem;
        
        &::before{
            content: url('../assets/plus.png');
            filter: invert(1);
            transform: translateY(4px);
        }
    }

    &.loading{
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 0.5rem;

        &::after{
            width: 20px;
            height: 20px;
            
            border: 0.5rem solid white;
            border-right: none;
            border-radius: 50%;
            
        }
    }
}

button.primary{
    background: $primary-color;
    &:active{
        background: darken($primary-color, $button-hover-lighten-amount);
    }
}

button.secondary{
    background: darken($secondary-color, 5);
    &:active{
        background: darken($secondary-color, $button-hover-lighten-amount);
    }
}

button.danger{
    background: $danger-color;
    color: $body-color;
    &:active{
        background: darken($danger-color, $button-hover-lighten-amount);
    }
}

button.black{
    background: black;
    &:active{
        background: darken(black, $button-hover-lighten-amount);
    }
}

.image-link{
    position: relative;
    border-radius: 5px;
    height: 300px;
    width: 300px;

    .overlay{
        opacity: 0;
        position: absolute;
        top: 0;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease;
    }
}

::placeholder{
    color: lighten($body-text-color, 15);
    opacity: 1;
}

p, i, strong, span{
    color: $body-text-color;
}

nav.overhead{
    display:flex;
    flex-flow: row;
    gap: $medium-gap;

    a{
        color: $body-text-color;
        font-weight: 600;
        transition: text-decoration 0.2s ease-in-out;
        
        &:focus{
            background: #DDD;
        }
    }
}

textarea:focus, input:focus{
    outline: 2px solid $primary-color;
}

.flex-column{
    flex-flow: column;
}


