@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'switzer'; /* Define a name for your font */
  src: url('../kotidok_index_page.webflow/fonts/Switzer-Variable.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional, set the font weight */
  font-style: normal; /* Optional, set the font style */
}

@font-face {
  font-family: 'switzer'; /* Define a name for your font */
  src: url('../kotidok_index_page.webflow/fonts/Switzer-VariableItalic.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional, set the font weight */
  font-style: italic; /* Optional, set the font style */
}

* {
  font-family: 'switzer', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea,
input,
select {
  border-radius: 7px;
  padding: 0.5rem;
  border-color: #ddd;
  border-width: 1px;
  background: none;
}

input,
textarea {
  background: white;
}

select option {
  background: none;
}

textarea {
  resize: none;
  min-height: 100px;
}

textarea:disabled,
input:disabled,
select:disabled {
  color: rgb(100 116 139);
}

a:hover {
  text-decoration: underline;
}

dialog::backdrop {
  backdrop-filter: blur(10px);
  z-index: 10;
}

input[type='radio'],
input[type='checkbox'] {
  width: 1.25rem;
}

input[type='checkbox'] {
  aspect-ratio: 1/1;
}

input[type='radio']:checked:before {
  accent-color: orange;
}

input:disabled {
  background-color: #fffa;
}
