@import '@/scss/Config';

$body-background-color: linear-gradient(to bottom, white, #f0f0f0);

.body{
    display: flex;
    flex-flow: column;
    background: $body-background-color;
    min-height: 100vh;
    color: $text-color;
}