@import '@/scss/Config';

.body{
    display: flex;
    flex-flow: column;
    background: linear-gradient(to bottom, $body-color, darken($body-color, 15));
    min-height: 100vh;
    color: $text-color;
}