.description{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 1000px){
    .description{
        display: flex !important;
        flex-flow: column;
        min-height: auto !important;
    }
}