@import 'kotilogi-app/scss/Config';

.form{
    background: none !important;
    box-shadow: none !important;
    border-radius: 10px;

    label{
        color : white;
    } 

    .submitButton{
        background: $primary-color;
        color: black;
        &:hover{
            background: lighten($primary-color, 10);
        }
    }

    .formSuccess{
        color: white !important;
    };
}