@import '../../../Config';

#user-token{
    border-radius: 50% !important;
    background: $primary-color;
    padding: 1rem;
    color: white;
    z-index: 1;
    cursor: pointer;
    user-select: none;

    h2{
        color: white;
    }

    &:hover{
        background: lighten($primary-color, 10);
    }
}