@import '@/scss/Config';

.galleryBodyGrid, .galleryBodyList{
    padding-left: $medium-gap;
    padding-bottom: $medium-gap;
    flex: 1;
    
    &.empty{
        display: flex;
        flex-flow: row;
        justify-content: center;
    }
}

.galleryBodyGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: left;
    max-height: 100%;
    overflow-y: scroll;
    flex: 1;
}

.galleryBodyList{
    display: flex;
    flex-flow: column;
    gap: $small-gap;
}

.loadingBody{
    flex: 1;
}

@media screen and (max-width: 1000px){
    .galleryBody{
        display: flex !important;
        flex-flow: column;
        align-items: center;
    }
   
}