@import '@/scss/Config';

.page{
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
}

.formContentWrapper{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.formContentWrapper button{
    height: 50px;
}

.form label{
    color: $body-text-color;
}

.header{
    display: flex;
    flex-flow: row; 
    justify-content: space-between;
    align-items: center;
}