@import '@/scss/Config';

.listEntry{
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: $small-gap;
    border: 1px solid #DDD;
    width: 100%;

    span{
        color: $body-text-color;
    }
    
    &:hover{
        .menu{
            transform: translateX(0);
            opacity: 1;
        }
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        padding: $small-gap;
        width: 100%;
        height: 100%;
        display: flex;
        gap: $medium-gap;
        align-items: center;
        justify-content: flex-end;
        opacity: 0;
        transform: translateX(-50px);
        transition: transform 0.2s ease, opacity 0.2s ease;
        transition-delay: 0.15s;

        span{
            color: $body-text-color;
            cursor: pointer;
        }
    }
}