.gallery{
    position: relative;
    display: flex;
    flex-flow: column;
    flex: 1;
    z-index: 0;

    .add-button{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border: 1px dashed $border-color;
        border-radius: $border-radius;
        padding: 1rem;
        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover{
            background: $border-color;
            border-color: black;
        }

        .button-title{
            font-size: 1rem;
        }
    }

    .gallery-item{
        min-height: calc(18rem * 1.5);
        width: 18rem;

        .gallery-image{
            clip-path: inset(0, 0, 0, 0);

            img{
                object-fit: scale-down;
            }
        }
    }

    .gallery-header{
        display: flex;
        flex-flow: row;
        text-align: left;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;

        padding: 1rem;
        z-index: 1;
        background: rgba(white, 1);
        backdrop-filter: saturate(200%) blur(20px);

        small{
            font-weight: bold;
            color: gray;
            margin-left: 0.25rem;
            font-size: 1.25rem;
        }
        
        .header-item{
            display: flex;
            flex-flow: row;
            gap: 0.5rem;

            small{
                font-weight: bold;
            }

            &.baseline{
                align-items: baseline;
            }

            input[type=checkbox]{
                width: 25px;
            }
        }

    
        .add-btn{
            .group-row{
                justify-content: center;
            }
        }

        .group-row{
            max-height: 50px;
        }

        margin-bottom: 2rem;
        border-bottom: 1px dashed $border-color;
    }

    .gallery-body{
        display: grid;
        grid-template-columns: auto auto auto auto;

        gap: 1rem;
        justify-content: center;
        
        &.empty{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .gallery .gallery-body{
        display: flex !important;
        flex-flow: column;
        align-items: center;
    }
}