@import 'kotilogi-app/scss/Config';
@import '@/scss/Padding';

.gradient{
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, $body-color, $body-color, #0000);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/img/Properties/default-bg.jpg");
    background-size: cover;
    background-position-y: -100px;
    filter: grayscale(0.8);
    z-index: 1;
}

.containerHeader, .containerBody{
    z-index: 1;
}

.pricingContainer{
    display: flex;
    flex-flow: column;

    position: relative;
    gap: 1rem;
    @include Padding;

    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 600px;

    .containerBody{
        display: flex;
        flex-flow: row;
        gap: 2rem;
        width: 100%;
        z-index: 3;
        flex: 1;

        .textContainer{
            width: 50%;
            p, h2{
                color: $body-text-color;
            }

            p{
                font-size: 1.2rem;
            }

            h1{
                color: $body-text-color;
            }
        }

        .cardsContainer{
            display: flex;
            gap: 1rem;
            flex: 1;
            justify-content: right;

            h1{
                color: $primary-color;
            }

            h2{
                color: $body-color;
            }
        }
    
    }

}

.card{
    display: flex;
    flex-flow: column;

    background: gray;
    border-radius: 5px;
    height: 100%;
    width: 20rem;
    box-shadow: 3px 3px 3px 3px #0006;
    z-index: 3;

    .cardHeader, .cardBody{
        padding: 1rem;
    }

    .cardBody{
        flex: 1;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .cardHeader{
        background: rgb(54, 54, 54);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 30%;
        display: flex;
        flex-flow :column;
    }

    .linkButton{
        padding: 0.5rem;
        background: $primary-color;
        text-align: center;
        min-width: 30%;
        border-radius: 5px;
        color: black;
        margin-top: auto;
        text-decoration: none;

        &:hover{
            background: lighten($primary-color, 10);
        }
    }
}

@media screen and (max-width: $mobile-width){

    .card{
        min-height: 500px;
    }

    .pricingContainer{
        padding: 0.5rem !important;

        .containerBody{
            flex-flow: column-reverse;

            .cardsContainer{
                flex-flow: column;
            }

            .textContainer{
                width: 100%;
                
            }
        }
    }

    .gradient{
        background: $body-color;
    }
}