.descriptionContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: gray;
    margin-bottom: 2rem;

    .image{
        margin-bottom: 2rem;
        opacity: 0.5;
    }
    .description{
        max-width: 500px;
    }
}