@import 'kotilogi-app/scss/Config';

.cardContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    background: #0006;
    width: 500px;
    height: 100%;
    box-shadow: 3px 3px 3px 3px #0008;

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
        text-align: center;
    }
}