.contentContainer{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    flex: 1;
    z-index: 1;
}

.horizontalRow{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}