@import 'kotilogi-app/scss/Config';
@import '../../../_partials/padding';

.page{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 1;
}

.pageHeader{
    z-index: 4;
    width: 100%;
    margin-top: calc($medium-gap * 2);
    margin-bottom: $medium-gap;

    h1, small{
        color: $body-text-color;
    }
}

.bgImage{
    background: url('/img/Properties/default-bg.jpg');
    background-size: cover;
    filter: grayscale(1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.gradient{
    background: linear-gradient(to right, $body-color, $body-color, #0000);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}