@import 'kotilogi-app/scss/Config';

.container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-image: url('/img/Login/login-bg.jpg');
    background-size: cover;
    background-position-x:right;
}

input.error{
    border-color: $danger-color;
}

.agreementContainer{
    /**The row in the form containing the checkbox for agreeing with the TOS*/

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    color: white;

    a{
        color: $primary-color;
    }

    input[type=checkbox]{
        width: 2rem;
        &:checked{
            background: $primary-color;
        }
    }
}