@import 'kotilogi-app/scss/Config';

#desktopAddButton{
    display: block;
}

.mobileAddButton{
    display: none;
    padding: 0.25rem;
    background: $primary-color;

    
    border-radius: 5px;
    cursor: pointer;

    img{
        width: 40px;
        height: 40px;
        
        filter: invert(1);
        object-fit: contain;
    }
}

@media screen and (max-width: 1000px){
    .mobileAddButton{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #desktopAddButton{
        display: none;
    }
}