@import 'kotilogi-app/scss/Config';

.container{
    display: flex;
    flex-flow: column;
    flex: 1;
    
    .subContainer{
        padding: 1rem;
        background: rgba(black, 0.6);
        flex: 1;

        .titleContainer{ 
            h1{
                font-size: 3rem;
                color: white;
            }
    
            small{
                color: $primary-color;
            }
    
            p{
                margin-top: 2rem;
                color: white;
                font-size: 1.5rem;
            }

            border-bottom: 1px solid white;
        }
    
        .infoContainer{
            display: flex;
            flex-flow: column;
            gap: 1rem;
            width: 60%;
            
            a{
                color: $primary-color;
            }
            
            span{
                font-size: 1.25rem;
                color: white;
            }
    
            .value{
                font-size: 1.5rem; 
                color: $primary-color;
            }
        }
    }
}