.container{
    display: flex;
    flex-flow: column;
    flex: 1;

    .overview{
        background: white;
        height: 500px;
        display: flex;

        .address{
            padding: 1rem;
            font-size: 3rem;
            background: rgba(black, 0.5);
            width: 100%;
            color: white;
            height: 100px;
        }
    }
}