@import 'kotilogi-app/scss/Config';

    .titleContainer{ 
        z-index: 2;
        h1{
            font-size: 3rem;
            color: white;
        }

        small{
            color: $primary-color;
        }

        p{
            margin-top: 2rem;
            color: white;
            font-size: 1rem;
        }

        border-bottom: 1px solid white;
        margin-bottom: 1rem;
    }
    
        .infoContainer{
            display: flex;
            flex-flow: column;
            gap: 0.5rem;
            background: #0004;
        }
    

    .formGroup{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;

        &:hover{
            background: $primary-color;

            input, textarea, select, label{
                color: black;
            }

        }

        textarea{
            cursor: pointer;
        }
        
        input, textarea, select{
            background: none;
            border: none;
            text-align: right;
            color: $primary-color;
            caret-color: $primary-color;

            &:focus{
                outline: none;
                border-radius: 0;
                background: #0004;
            }
        }

        select:after{
            color: $primary-color;
        }

        input[type="number"]::-webkit-inner-spin-button{
            appearance: none;
            -webkit-appearance: none;
        }
    }
    

.editLink{
    position: absolute;
    top: 1rem;
    right: 0.5rem;
    color: $primary-color;
    font-weight: 600;
    z-index: 2;
}