@import '@/scss/Config';

.navbar{
    display: flex;
    flex-flow: column;
    flex: 1;
}

.navbar a{
    padding: 0.5rem 0rem 0.5rem 1rem;
}

.navbar a:hover{
    color: black;
}

.navbar .selected{
    color: black;
    background: lighten($primary-color, 35);
}