@import 'kotilogi-app/scss/Config';
@import 'kotilogi-app/scss/Animations';

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  .animated {
    @include SlideUpAnimation;
  }
}

.spinner {
  border-radius: 50%;
  border: 3px solid white;

  animation: RingAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.7s;

  border-top-color: green;
}

.message {
  font-size: 1.25rem;
}
