@import 'kotilogi-app/scss/Config';

.container{
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    form{
        a{
            color: $primary-color;
            background: #0004;
            padding: 2px;
        }

        p{
            color: $body-color;
        }
    }
}

.passwordLabelContainer{
    display: flex;
    justify-content: space-between;
}

.gradient{
    background: linear-gradient(to right, black, $body-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}