@import '@/scss/Config';

$background-color: rgba($primary-color, 0.7);

.item{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $medium-gap;
    background: $background-color;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

    a{
        flex: 1;
    }

    .selected{
        background: blue;
    }
    
    .deleteLink{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    span{
        color: black;
    }

    div{
        display: inherit;
        gap: $medium-gap;
        align-items: center;
    }

    input[type=checkbox]{
        aspect-ratio: 1/1;
        width: 25px;
    }

    &:hover{
        background: lighten($background-color, 10);
        text-decoration: none;
    }
}