@import 'kotilogi-app/scss/Config';
@import 'kotilogi-app/scss/Animations';

.cardContainer, .updatePlanCard{
    @include SlideUpAnimation;

    background: #888;

    display: flex;
    flex-flow: column;
    width: 13rem; /*Galleries contain four cards on each row*/
    border-radius: 7px;
    height: 27rem;
    transition: border-width 0.2s ease-in-out;
    position: relative;

    transition: border-color 0.25s ease-out, box-shadow 0.25s ease-out, transform 0.25s ease-out;
    $shadow-distance: 0.25rem;

    box-shadow: $shadow-distance $shadow-distance $shadow-distance $shadow-distance #0008;
}

.highlightedIndicator{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $primary-color;
    z-index: 4;
}

.updatePlanCard{
    align-items: center;
    justify-content: center;
    background: none;
    border: 1px dashed $body-text-color;
    padding: $medium-gap;
    p{
        text-align: center;
        color: #555;
    }
}

.deleteModalBody{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    p, strong{
        color: $body-text-color;
    }

    p{
        max-width: 500px;
    }

    .checkboxContainer{
        display: flex;
        width: 100%;
        justify-content: space-between;
        input[type=checkbox]{
            aspect-ratio: 1/1;
            width: 25px;
        }
    }
}