@import 'kotilogi-app/scss/Config';

.pageHeaderContainer{
    display: flex;
    flex-flow: row;
    margin-bottom: 0.75rem;
    justify-content: space-between;
    align-items: center;

    a{
        color: $primary-color;
    }
}

@media screen and (max-width: 1000px){
    .pageHeaderContainer{
        margin-bottom: 1rem !important;
    }
}