@import '@/scss/Config';

.header{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    nav{
        display: flex;
        flex-flow: row; 
        gap: $medium-gap;
    }
}