@import '../../Config';

#home-page{

    #welcome-text-box{
        padding-top: 5rem;
        justify-content: space-between;

        #welcome-text{
            #home-page-intro-text{
                font-size: 5rem;
                font-family: 'Script MT Bold';
            }
    
            #create-acc-link{
                margin-top: 3rem;
            }
        }

        #animated-squares{
            display: flex;
            flex-flow: row;
            gap: 1rem;

            @keyframes HoverAnimation{

                $rotation-amount: 5deg;
                $translation-amount: 0px;
                
                0%{
                    transform: rotate(0deg);
                }

                50%{
                    transform: rotate($rotation-amount);
                }

                100%{
                    transform: rotate(-$rotation-amount);
                }

            }

            .square{
                border: 2px solid $secondary-color;
                border-radius: 10px;

                width: 200px;
                height: 300px;

                background: $primary-color;
                color: white;
                transition: transform 0.3s ease-in-out;
                transition-delay: 0.2s;

                &:hover{
                    $hover-distance: -25px;
                    transform: translateY($hover-distance);
                }

                &:nth-child(2){
                    background: darken($primary-color, 10);
                }

                &:nth-child(3){
                    background: darken($primary-color, 20);
                }
            }
        }
       
    }

    #news-content{
        flex-direction: row-reverse;
        margin-top: 5rem;
    }
}

.bg-filler{
    background: url('../../img/bg.jpg');
    background-size: cover;
}