@import '@/scss/Config';

$background-color: rgba($primary-color, 0.7);

.content{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $medium-gap;
    width: 100%;
    background: $background-color;

    div{
        display: inherit;
        gap: $medium-gap;
    }

    .controlButton{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    span{
        color: $body-text-color;
    }

    .price{
        font-weight: bold;
        &::after{
            content: '€';
        }
    }
}