@import '@/scss/Config';

$background-color: rgba($primary-color, 0.7);

@keyframes SlideIn{
    0%{
        opacity: 0;
        transform: translateX(50px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.content{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $medium-gap;
    width: 100%;
    background: $background-color;
    animation-name: SlideIn;
    animation-duration: 0.2s;
    
    div{
        display: inherit;
        gap: $medium-gap;
    }

    .controlButton{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }

    span{
        color: $body-text-color;
    }

    .price{
        font-weight: bold;
        &::after{
            content: '€';
        }
    }
}