.headerContainer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    z-index: 1;
    
    div{
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }
}