@import '@/scss/Config';

.item{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: $medium-gap;
    width: 100%;
    background: #DDD8;

    span{
        color: $body-text-color;
    }
}