@import 'kotilogi-app/scss/Config';

.container{
    display: flex;
    flex-flow: column;
    min-width: 200px;
    min-height: 100px;
    background: $secondary-color;

    &::backdrop{
        backdrop-filter: blur(10px) saturate(100%);
    }
}

.header, .footer{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 0.25rem;
    color: white;
}

.header .closeButton{
    display: flex;
    flex-flow: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.closeButton .buttonLine{
    position: absolute;
    top: 50%;

    height: 2px;
    width: 20px;
    background: gray;
    $rotateAmount: 45deg;
    &:nth-child(1){
        transform: rotate($rotateAmount);
    }

    &:nth-child(2){
        transform: rotate(-$rotateAmount);
    }
}

.footer button{
    width: 100%;
}