@import 'kotilogi-app/scss/Config';
@import '../_partials/padding';

.header{
    position: sticky;
    top: 0;
    background: $header-color;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0 0.5rem 0;
    @include Padding;
    
    z-index: 4;
    flex: 0 1;

    min-height: 57px;
    
    a{
        color: white;
        font-weight: 700;
    }

    .logo{
        z-index: 4;
    }

    &.open{
        justify-content: center;
    }
}

.links{
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    align-items: center;
}

.navDesktop{
    @media screen and (max-width: $mobile-width){
        display: none !important;
    }
}

#logoutButton{
    margin-left: 1rem;
}

#userEmail{
    font-weight: normal;
    font-style: italic;
    color: $primary-color;
}

@media screen and (max-width: $mobile-width){
    .header{
        position: static !important;
    }
}