@import 'kotilogi-app/scss/Config';
@import '../_partials/padding';

.header{
    background: $header-color;

    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0 0.5rem 0;
    @include Padding;
    
    z-index: 5;
    flex: 0 1;

    min-height: 57px;
    
    a{
        color:white;
        font-weight: 600;
    }

    .logo{
        z-index: 4;
    }

    .userIcon{
        width: 50px;
        height: 50px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        div{
            color: black;
        }
    }

    &.open{
        justify-content: center;
    }
}

.links{
    display: flex;
    flex-flow: row;
    gap: 0.5rem;
    align-items: center;
}

.navDesktop{
    @media screen and (max-width: $mobile-width){
        display: none !important;
    }
}

.logoutLink{
    cursor: pointer;
}

#logoutButton{
    margin-left: 1rem;
}

#userEmail{
    font-weight: normal;
    font-style: italic;
    color: $primary-color;
}

.userModal{
    width: 100%;
    height: 100%;

    .userModalBody{
        display: flex;
        flex: 1;
        nav{
            flex: 1;
            display: flex;
            flex-flow: column;
            gap: $small-gap;
            padding: $medium-gap;
        }
    }
}


@media screen and (max-width: $mobile-width){
    .header{
        position: static !important;
        padding: 1rem !important;
    }
}