.gallery .add-button{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed $border-color;
    border-radius: $border-radius;
    padding: 1rem;
    cursor: pointer;

    transition: background-color 0.2s ease-in-out;

    &:hover{
        background: $border-color;
        border-color: black;
    }
}