@import './Config';

.card{
    display: flex;
    flex-flow: column;
    width: 18rem;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 0.25rem;

    transition: border-width 0.2s ease-in-out;
    
    &:hover{
        border-color: black;
    }

    .card-image-container{
        display: flex;
        justify-content: center;
        clip-path: inset(0, 0, 0, 0);
        background: $border-color;
    }

    .card-image{
        display: inherit;
        height: 18rem;
        clip-path: inset(0 ,0, 0, 0);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        object-fit: scale-down;

     
    }

    .error-image{
        $size: 60px;

        width: $size;
        height: $size;
    }

    .card-title{
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: inherit;
        word-wrap: none;
    }

    .card-text, .card-body{
        flex: 1;
    }

    .card-text{
        margin-bottom: 1rem;
    }

    .card-body{
        border-top: 1px solid $border-color;
        display: inherit;
        flex-flow: column;
        width: 100%;
    }

    .card-footer{
        display: inherit;
        width: 100%;
        background: none;
    }

    .card-button-group{
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }
}

.card-button-group button{
    flex: 1;
}

