@import './Config';

.card{
    display: flex;
    flex-flow: column;
    width: 18rem;
    border-radius: $border-radius;
    border: 1px solid $border-color;
    padding: 0.25rem;
    transition: background-color 0.2s ease-in-out;
    
    &:hover{
        background: $border-color;
    }

    .card-image{
        display: inherit;
        width: inherit;
        height: 18rem;
        clip-path: inset(0 ,0, 0, 0);
    }

    .card-image img{
        object-fit: fill;
    }

    .card-title{
        font-size: 1.25rem;
    }

    .card-text, .card-body{
        flex: 1;
    }

    .card-text{
        margin-bottom: 1rem;
    }

    .card-body, .card-title{
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .card-button-group{
        display: flex;
        flex-flow: row;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
    }
}

.card-button-group button{
    flex: 1;
}

