@import './Config';

#event-header{
    background: $header-color;
    align-items: center;

    h1, p{
        color: white;
    }
}

#event-header-info-container{

    p{
        width: 400px;
        word-wrap:break-word;
    }
}

#event-header-back-link-container{
    border-bottom: 1px solid lightgray;
    padding-bottom: 1rem;
    margin-bottom: 5rem;
}