.gallery{
    display: flex;
    flex-flow: column;
    width: 100%;

    .add-button{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border: 1px dashed $border-color;
        border-radius: $border-radius;
        padding: 1rem;
        cursor: pointer;

        transition: background-color 0.2s ease-in-out;

        &:hover{
            background: $border-color;
            border-color: black;
        }

        .button-title{
            font-size: 1rem;
        }
    }

    .gallery-item{
        min-height: calc(18rem * 1.5);
        width: 18rem;

        .gallery-image{
            clip-path: inset(0, 0, 0, 0);

            img{
                object-fit: scale-down;
            }
        }
    }

    .gallery-header{
        display: flex;
        flex-flow: row;
        text-align: left;
        justify-content: space-between;

        padding: 1rem;

        .header-item{
            display: flex;
            flex-flow: row;
            gap: 0.5rem;

            &.baseline{
                align-items: baseline;
            }
        }

        .add-btn{
            .group-row{
                justify-content: center;
            }
        
        }

        .group-row{
            max-height: 50px;
        }

        margin-bottom: 2rem;
        border-bottom: 1px dashed $border-color;
    }

    .gallery-body{
        display: grid;
        grid-template-columns: auto auto auto auto;
        
        gap: 1rem;
        justify-content: center;

        &.empty{
            display: flex;
            flex-flow: row;
            justify-content: center;
        }
    }
}