.images-body{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    overflow-x: scroll;
    
    .add-image-button{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        border-radius: 5px;
        border: 1px dashed gray;
        cursor: pointer;
    }

    .image-card{
        cursor: pointer;
        img{
            width: 200px;

            &:hover{
                border: 2px solid blue;
            }
        }
    }
}