nav{
    display: flex;
    flex-flow: column;

    a{
        color: white;

        &.active{
            color: $primary-color !important;
            text-decoration: underline;
        } 
    }
}