@import './Config';

#primary-header{
    padding: 1rem;
    z-index: 2;
    background: white;
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    
    #user-email{
        font-style: italic;
        font-weight: 1;
    }

    .navigation{
        min-width: 200px;
    }

    .navigation nav{
        display: flex;
        flex-flow: row;
        gap: 1rem;
    }

    .navigation nav a{
        color: $secondary-color;
        text-decoration: none;
    }

    #header-logo-area{
        img{
            height: 35px;
        }
    }

    #menu-btn{
        display: none;
        flex-flow: column;
        gap: 0.25rem;
        width: 30px;
        height: 50px;
        z-index: 5;

        .btn-line{
            background: $primary-color;
            width: 100%;
            height: 5px;
            transition: all 0.1s ease-in-out;
        }

        cursor: pointer;
            
            &.open{
                .btn-line{
                    $translate-amount: 9px;

                    &:nth-child(1){
                        transform: translateY($translate-amount) rotate(45deg);
                    }

                    &:nth-child(2){
                        transform: rotate(45deg);
                        opacity: 0;
                    }

                    &:nth-child(3){
                        transform: translateY(-$translate-amount) rotate(-45deg);
                    }
                }
            }
    }

    #menu{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background: white;
        border-left: 2px solid gray;
        height: 100vh;
        display: flex;
        flex-flow: column;

        &.open{
            visibility: visible;
        }
    }
}

@media screen and (max-width: 1000px){
    .primary-header{
        padding: 1rem 5px 0 5px !important;
        align-items: center !important;

        .button-link{
            display: none !important;
        }

        #header-logo-area{
            img{
                height: 25px !important;
            }
        }

        #header-links-area{
            display: none !important;
        }
    }
}
