.property-events-section{
    display: flex;
    flex-flow: column;
    width: 100%;

    background: url('../img/events-bg.jpg');
    background-position: fixed;
    
    .property-events-header{
        display: inherit;
        flex-flow: row;
        justify-content: space-between;
        width: inherit;
        align-items: center;
    }
    
    .property-events-body{
        display: inherit;
    }
}