.section{
    display: flex;
    flex-flow: column;
    width: 100%;
    
    .section-header, .section-body, .section-footer{
        padding: 0 1rem 1rem 1rem;
    }

    .section-header{
        background: white;
        border-bottom: 1px dashed $border-color;
        display: inherit;
        flex-flow: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
        margin-bottom: 1rem;
        position: sticky;
        top: 0;
        z-index: 2;

        .button-group{
            display: flex;
            flex-flow: row;
            gap: 0.5rem;

            button{
                @include SlideRightAnimation;
            }
        }

        .label-heading{
            display: flex;
            flex-flow: column;

            .label{
                font-size: 2rem;
                color: $secondary-color;
            }

            h1{
                font-size: 1.25rem !important;
            }
        }
    }

    .section-body{
        display: inherit;
        flex-flow: column;
        flex: 1;
        align-items: center;
    }

    .section.footer{
        display: flex;
    }
}