@import './Config';

.sidebar{
    background: $sidebar-color;
    min-height: 100vh;
    padding: 1rem;
    width: 18rem;
}

.sidebar nav .nav-link{
    color: $secondary-color;
    width: 100%;
    border-radius: $border-radius;
    padding: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover{
        background: lighten($sidebar-color, $button-hover-lighten-amount);
        color: white;
    }
}