.toast{
    position: absolute;
    width: 75vw;

    &.danger{
        background: lighten($danger-color, 20);
    }

    &.bottom{
        bottom: 0;
    }

    &.top{
        top: 0;
    }

    &.right{
        right: 0;
    }

    &.left{
        left: 0;
    }
}