@import './Config';

#info-page{
    display: flex;
    flex-flow: row;
    gap: 1rem;
    width: 100%;
    align-items: center;
    
    .info-image{
        width: 200px;
        height: 200px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        transition: background-color 0.2s ease-out;
        
        &.no-image{
            border-radius: 10px;
            border: 2px dashed $secondary-color;
        }

        &:hover{
            background: rgba($primary-color, 0.2);

        }
    }

    .info-area{ 
        display: flex;
        flex-flow: column;
        gap: 2rem;
        flex: 1;

        .info-row{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            font-weight: bold;
            text-decoration: underline;
        }
    }
}