@import './Config';

#info-page{

    table{
        width: 100%;

        td{
            font-size: 2rem;
            color: $secondary-color;
            width:fit-content;

            &.info-cell{
                background: rgba($primary-color, 0.5);
                color: white;
            }
        }
    }
}