@import './Config';

#property-manage-page{

    display: grid !important;
    grid-template-columns: 1fr 2fr;
    

    .grid-item{
        display: flex;
        flex-flow: column;

        height: 100%;
    }

    header{
        padding: 0 !important;
        display: flex;
        flex-flow: row;
        align-items: left;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-bottom: 2px solid $secondary-color;
    }

    .property-events{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
}