@import './Config';

.timeline{
    display: flex;
    flex-flow: row;
    align-items: center;

    .timeline-node{
        display: flex;
        flex-flow: row;
        position: relative;
        align-items: baseline;
        cursor: pointer;
        
        &:hover{
            .node-dot{
                background: lighten($primary-color, 10);
            }

            .node-dot-info{
                top: 4rem;
                opacity: 1;
            }
         
        }

        .node-dot{
            
            background: $primary-color;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;

            transition: all 0.1s ease-out;
        }

        .node-dot-info{
            position: absolute;
            opacity: 1;
            transition: all 0.2s ease-out;
            top: 3rem;
            transition-delay: 0.2s;
            writing-mode: sideways-lr;
        }
       
    }

    .timeline-line{
        background: $primary-color;
        height: 0.5rem;
        width: 3rem;
    }
}