.container{
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    padding: 0.5rem;
    position: relative;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.container .line{
    width: 25px;
    background: white;
    height: 2px;
    transition: transform 0.2s ease-out, position 0.2s ease-out;
}

.container.active .line{
    position: absolute;
}

.container.active .line:nth-child(1){
    transform: rotate(45deg);
}

.container.active .line:nth-child(2){
    opacity: 0;
}

.container.active .line:nth-child(3){
    transform: rotate(-45deg);
}