@import 'kotilogi-app/scss/Config';
@import '../globals.scss';

.container{
    @include Container;

    .header{
        @include Header;
        .title{
            margin-bottom: 1rem;
        }
    }
}

.selectorHeader{
    padding: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}